<div class="jumbtron">
  <h1 class="display-4 text-center">Employees</h1>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th>Weekly Effort (Total)</th>
          <th>Weekly Effort (Average)</th>
          <th>Timesheet</th>
        </tr>
        <tr
          *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.code }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.currentWeekEffort }}</td>
          <td>{{ employee.averageWeeklyEffort }}</td>
          <td>
              <a [routerLink]="['/employee-timesheet/',employee.id]">
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  View Timesheet
                </span>
              </a>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>
