<div class="jumbtron">
  <h1 class="display-4 text-center">Employee Timesheet</h1>
  <hr />

  <form [formGroup]="timesheetForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group row">
      <label class="col-sm-2">Select Employee : </label>
      <div class="col-sm-6">
        <select
          class="form-control"
          formControlName="employeeId"
          (change)="onSelectedEmployeeChange()">
          <option [value]="employee.id" *ngFor="let employee of employees">
            {{ employee.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Week : </label>
      <div class="col-sm-6 text-center">
        <input type="button" (click)="onPreviousClick()" value="< Prev" class="btn btn-primary" />
        {{ timesheetForm.get('fromDate').value }} - {{ timesheetForm.get('toDate').value }}
        <input type="button" (click)="onNextClick()" value="Next >" class="btn btn-primary" />
        <input type="hidden" name="week"formControlName="week" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="text-right">
          <input
            type="button"
            value="+"
            (click)="addNewRow()"
            class="btn btn-primary round"
          />
        </div>
      </div>
    </div>
    <div class="form-group row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width: 25%">Task Name</th>
            <th style="width: 10%">Sunday</th>
            <th style="width: 10%">Monday</th>
            <th style="width: 10%">Tuesday</th>
            <th style="width: 10%">Wednesday</th>
            <th style="width: 10%">Thursday</th>
            <th style="width: 10%">Friday</th>
            <th style="width: 10%">Saturday</th>
          </tr>
        </thead>
        <tbody formArrayName="timesheetRecords">
          <tr  *ngFor="let group of timesheetRecords.controls; let i = index;" 
          [formGroupName]="i">
            <td>
              <select class="form-control" 
              formControlName="taskId"
              name="selectedTask-{{ i }}">
                <option [value]="task.id" *ngFor="let task of tasks">
                  {{ task.name }}
                </option>
              </select>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                formControlName="sundayEffort"
                name="sundayEffort-{{ i }}"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                formControlName="mondayEffort"
                name="mondayEffort-{{ i }}"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                formControlName="tuesdayEffort"
                name="tuesdayEffort-{{ i }}"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                formControlName="wednesdayEffort"
                name="wednesdayEffort-{{ i }}"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                formControlName="thursdayEffort"
                name="thursdayEffort-{{ i }}"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                formControlName="fridayEffort"
                name="fridayEffort-{{ i }}"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                formControlName="saturdayEffort"
                name="saturdayEffort-{{ i }}"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group">
        <div class="text-right">
          <a [routerLink]="['/']" class="btn btn-default">Back to List</a>
          <input type="submit" value="Save" class="btn btn-primary" />
        </div>
      </div>
  </form>
</div>
